/* ==========================================================================
# Icon List Item style - begin
========================================================================== */
.edgtf-icon-list-item{
    display: table;
    height: 1em;
    width: 100%;
	position: relative;
	margin-bottom: 10px;
    
    .edgtf-icon-list-icon-holder{
        display: table-cell;
        vertical-align: top;
	    width: 1%;
    }
    .edgtf-icon-list-icon-holder-inner i,
    .edgtf-icon-list-icon-holder-inner span{
        display: block;
        color: $first-main-color;
        font-size: 19px;
        text-align: center;
    }
    .edgtf-icon-list-text{
        display: table-cell;
        vertical-align: middle;
        position: relative;
	    padding-left: 14px;
	    margin: 0;
    }
}
/* ==========================================================================
# Icon List Item style - end
========================================================================== */

